.field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-block-end: 4px;
}

.field input {
	display: block;
	margin-block-start: 4px;
}

.smallBlock {
	display: block;
	margin-block-end: 8px;
}

.results {
	text-align: center;
	font-family: var(--ifm-font-family-monospace);
	margin-block-start: 24px;
}

.results p {
	margin: 0 0 12px;
}

.monospace {
	font-family: var(--ifm-font-family-monospace);
}
